* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background: #0b3d91;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Slider */
.slider {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fade 9s infinite;
}

.slide:nth-child(1) {
    animation-delay: 0s;
}
.slide:nth-child(2) {
    animation-delay: 3s;
}
.slide:nth-child(3) {
    animation-delay: 6s;
}

@keyframes fade {
    0%   { opacity: 0; }
    10%  { opacity: 1; }
    30%  { opacity: 1; }
    40%  { opacity: 0; }
    100% { opacity: 0; }
}


/* Sports Section */
.sports {
    padding: 40px;
    text-align: center;
}

.sports-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.sport-card {
    width: 200px;
    text-decoration: none;
    color: black;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.sport-card img {
    width: 100%;
    height: 150px;
}

.sport-card:hover {
    transform: scale(1.05);
}

/* About */
.about {
    background: #f4f4f4;
    padding: 40px;
    text-align: center;
}
.sport-page-img {
    width: 80%;
    max-width: 600px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
}

.rules {
    text-align: left;
    max-width: 700px;
    margin: 20px auto;
    line-height: 1.8;
}

